<div id="github-badge">
<h3 class='sidebar-title'><%=sidebar.title%></h3>	
<ul id="yaghb"></ul>
<script src="http://ben.pixelmachine.org/yaghb.php?username=<%=sidebar.github_username%>"></script>
</div>