<div id="github-badge"></div><p />
<script type="text/javascript" charset="utf-8"> 
	GITHUB_HEAD = "h3"
	GITHUB_TITLE = "My Projects"
	GITHUB_USERNAME="<%=h sidebar.github_username%>";
</script>
<script src="http://drnicjavascript.rubyforge.org/github_badge/dist/github-badge-launcher.js" type="text/javascript"></script>
