<div id="github-badge"></div><p />
<script type="text/javascript" charset="utf-8"> 
	GITHUB_HEAD 		= "h3"
	GITHUB_USERNAME		= "<%=h sidebar.github_username%>"
  	GITHUB_LIST_LENGTH	= <%=h sidebar.limit %>
  	GITHUB_TITLE 		= "<%=h sidebar.title %>"
  	GITHUB_SHOW_ALL 	= "<%=h sidebar.show_link %>"
</script>
<script src="http://drnicjavascript.rubyforge.org/github_badge/dist/github-badge-launcher.js" type="text/javascript"></script>
